// COLORS
$color-primary: #F2B91E;
$color-primary-darker: #efb20e;
$color-primary-darkest: #dda409;
$color-primary-lighter: #f3bf31;
$color-danger: red;
$color-info: #28b485;

$color-secondary: #2d4649;
$color-secondary-darker: #233739;
$color-secondary-darkest: #1c2c2e;
$color-secondary-ligher: #375559;


$color-warning: #bdb933;
$color-success: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-muted: #999;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;
$color-primary-background: #e7eff0;
// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Roboto Slab', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;